.categoryFilterContainer select {
  outline: none;
  border: none;
  padding: 7px 10px;

  width: fit-content;
  background: var(--inputBg);
  border-radius: 5px;
  color: white;
  margin: 10px 0;
}

.table .actions {}

.table td img {
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.table td .activeIcon {
  color: var(--primaryBtnBg);
  font-size: clamp(20px, 2vw, 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;

}

.table td .inactiveIcon {
  color: var(--deleteBtnBg);
  font-size: clamp(20px, 2vw, 25px);

  cursor: pointer;
  transition: 0.5s;
}

.table td:hover .activeIcon {
  scale: 1.2;
}

.table td:hover .inactiveIcon {
  scale: 1.2;
}

.table .actions a {
  background: var(--primaryBtnBg);
  color: var(--primaryBtnText);
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.table .actions a:hover {
  scale: 1.1;
}

.table .actions button {
  outline: none;
  border: none;
  background: var(--deleteBtnBg);
  color: var(--deleteBtnText);
  width: 70px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.table .actions button:hover {
  scale: 1.1;
}

@media(max-width:450px) {
  .table .actions button {
    margin: 15px auto;
  }

}

@media screen and (max-width: 900px) {
  .table td .activeIcon {
    margin-left: auto;
  }

  .table td .inactiveIcon {
    margin-left: auto;
  }
}